.header {
  text-align:center;
  padding:50px;
  font-family: 'Raleway', sans-serif;
  background-image:url("header.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
